body {
	background-color: #d9d9d9;
}

h1, h2, p, li, figcaption {
	font-family: 'Tajawal', sans-serif;
}

h3 {
	display: none;
}

/*** header ***/
header {
	background: #419bbe;
	padding: 5px;
	margin-top: 20px;
	border-radius: 10px;
	overflow: hidden;
}

#myLogo {
	width: 100px;
	height: 100px;
	outline: solid white 5px;
	outline-offset: 10px;
	margin: 20px 40px 20px 40px;
	position: relative;
}

#myLogo h1, #myLogo p {
	color: white;
	line-height: 1;
	text-align: center;
	margin-top: 0;
}

#myLogo h1 {
	font-size: 24px;
	margin-bottom: 5px;
}

#myLogo p {
	font-family: 'Shadows Into Light Two', cursive;
	letter-spacing: 2px;
	font-size: 18px;
	margin-bottom: 0;
}

/*** navigation ***/
nav {
	background: white;
	padding: 2px 0 2px 0;
	border-radius: 10px;
	border-bottom: dashed 2px #d9d9d9;
	border-top: dashed 2px #d9d9d9;
}

.flexcontainer {
	display: flex;
}

.flexcontainer p {
	margin: 1px;
	text-align: center;
	color: white;
}

.flexcontainer a {
	box-sizing: border-box;
	width: calc(100% / 3);
	background-color: #303030;
	text-decoration: none;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	margin: 1px;
	padding: 3px;
}

/*** styling for articles ***/

article {
	background-color: white;
	box-sizing: border-box;
	border-radius: 10px;
	border-bottom: dashed 2px #d9d9d9;
	padding: 10px;
	overflow: hidden;
}

.section-head {
	display: flex;
	margin-left: -10px;
}

.section-head img {
	width: 75px;
	height: 75px;
	position: relative;
	left: -70%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

article:last-child {
	padding-bottom: 40px;
	margin-bottom: 100px;
}

article h2 {
	background: linear-gradient(#dd390d, #912608);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: white;
	width: 70%;
	padding: 3px 15px 3px 15px;
	text-align: right;
}

/*** style images within articles ***/
#myImage {
	width:100px;
	height: auto;
	padding: 8px;
	border-radius: 20px;
	float:right;
}

.examples-gallery {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.examples-gallery img {
	width: 100px;
	height: auto;
	padding: 10px;
}

figure {
	margin: auto;
	margin-bottom: 20px;
	height: 220px;
	border: solid black 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #303030;
    border-radius: 5px;
}

figcaption {
	text-align: center;
	font-size: 0.7em;
	width: 100px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
}

.icons {
	width: 30px;
	height: auto;
	display: inline-block;
	float: left;
	margin-top: -5px;
}

/*** styling for contact section ***/
#contact p {
	margin-left: 35px;
}

#contact a {
	text-decoration: none;
}

/*** media query 400px adjust wrapper width ***/
@media (min-width: 400px) {
	#wrapper {
		width: 85%;
		margin: auto;
	}
}

/*** media query 650px adjust wrapper width ***/
@media (min-width: 650px) {
	#wrapper {
		width: 70%;
	}
}