body {
	background-color: #347b98;
}

header {
	box-sizing: border-box;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 50%;
	border: solid white 5px;
	width: 70%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

header h1{
	color: white;
	font-family: 'Tajawal', sans-serif;
	text-align: center;
}

header h2 {
	color: white;
	font-family: 'Shadows Into Light Two', cursive;
	text-align: center;
	letter-spacing: 2px;
}

h2, p, li, figcaption {
	font-family: 'Tajawal', sans-serif;
}

.flexcontainer {
	display: flex;

	margin-bottom: 0;
}

.flexcontainer p {
	text-align: center;
	width: calc(100% / 6);
	background-color: #303030;
	color: white;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	margin: 1px;
	padding: 3px;
}


article {
	background-color: white;
	box-sizing: border-box;
	border-radius: 5px;
	border-bottom: dashed 1px #347b98;
	padding: 10px;
}

article h2 {
	background: linear-gradient(#dd390d, #912608);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: white;
	width: 50%;
	margin-left: -10px;
	padding: 3px 3px 3px 8px;	
}

#about img {
	width: 100px;
	height: auto;
	float: left;
	padding: 8px;
	border-radius: 20px;
}


.examples-gallery {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

#examples img {
	width: 100px;
	height: auto;
	padding: 10px;
}

figure {
	margin: auto;
	margin-bottom: 20px;
	height: 220px;
	border: solid black 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #303030;
    border-radius: 5px;
}

figcaption {
	text-align: center;
	font-size: 0.7em;
	width: 100px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
}

@media (min-width: 400px) {
	#wrapper {
		width: 85%;
		margin: auto;
	}
}

@media (min-width: 650px) {
	article h2 {
		width: 35%;
	}
}